.commentAvatar {
    display: inline-grid;
    margin-right: 10px;
    background-color: rgb(143, 17, 17);
}

.commentWrap {
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}

.text {
    margin-top: 10px;
}

.addCommentInput {
    width: 800px;
    margin-top: 20px
}

@media only screen and (max-width: 768px) {
    .addCommentInput {
        width: 100%;
    }
}

.addCommentButton{
    margin-top: 10px;
    margin-bottom: 20px
}