.MuiFormControl-root {
    min-width: 150px !important;
}

.responsive-image__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .responsive-image__image {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.conferencesSelect {
    margin-top: 30px;
    text-align: center;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -16px) scale(0.75) !important;
}