body {
    background-color: #ffffff;
    margin:0;
}

.content-app {
    min-height: 100vh;
}

.button{
    background-color: #4f709e !important;
}

.MuiContainer-root {
    padding: 0;
}

.MuiTypography-body1, .MuiTypography-h2,.MuiTypography-h4,.MuiTypography-h5, .MuiTypography-h6 {
    font-family: 'Lato', sans-serif;
}

.MuiPaper-rounded {
    border-radius: 0;
}
.MuiPaper-elevation1 {
    box-shadow:none;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;
    color: white;
    font-family: 'Lato', sans-serif;
}

/**** PAGINATION ****/
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    flex-wrap: wrap;
}
.pagination > .active > a{
    background-color: #4f709e ;
    border-color: #4f709e ;
    color: #fff;
}
.pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #4f709e ;
    border-color: #4f709e;
    outline: none ;
    margin-bottom: 15px;
}
.pagination > li > a, .pagination > li > span{
    color: #4f709e
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}

.active {
    margin-bottom: 15px;
}