.actionsContainer {
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: lightgrey;
}

#actionsContainerFirstGrid {
    border-right: 1px solid lightgrey;
}

#actionsContainerFirstGrid {
    border-right: 1px solid lightgrey;
}

#actionsContainerFirstGrid div {
    padding: 10px;
}

#actionsContainerSecondGrid div {
    padding: 10px;
}

.aboutConfSection {
    margin-top: 20px;
}

.committeeMemberSectionsSection, .committeeMemberSection {
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    #actionsContainerFirstGrid {
        margin-bottom: 30px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 30px;

    }

    #actionsContainerSecondGrid {
        margin-bottom: 30px;
    }
}