.reviewContainer {
    margin-top: 15px;
}

.deleteAppBtn, .closeAppBtn, .declineAppBtn {
    color: rgb(143, 17, 17);
    float: right;
}

.deleteAppBtn {
    margin-right: 10px;
}

.finishAppBtn {
    margin-top: 20px;
    color: rgb(53 132 57);
    float: right;
}

.approveAppBtn {
    color: rgb(53 132 57);
    margin-right: 10px;
    float: right;
}

.inProgressAppBtn {
    color: #8b8b0a;
    margin-right: 10px;
    float: right;
}

.commentsContainer {
    margin-top: 70px;
}

.mainHeader {
    margin-top: 25px
}

@media only screen and (max-width: 768px) {
    .reviewContainer {
        padding: 15px
    }

    .closeAppBtn {
        float: left;
        margin-top: 50px;
    }

    .deleteAppBtn {
        float: left;
        margin-top: 10px;
    }

    .approveAppBtn {
        float: none;
    }

    .inProgressAppBtn {
        float: none;
    }

    .declineAppBtn {
        float: none;
        margin-right: 10px;
    }

    .finishAppBtn {
        margin-top: 20px;
        color: rgb(53 132 57);
        float: left;
    }

    .buttonsMemberReview{
        margin-top: 30px;
        display: flex;
    }

    .commentsContainer {
        padding: 15px;
    }

    .mainHeader {
        padding-left: 10px;
    }
}