.feature-icon {
    max-width: 120px;
}

.feature-info {
    margin-top: 50px;
}

.feature-info .MuiGrid-container {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
}

.feature-container {
    margin-top: 100px;
    margin-bottom: 20px;
}

.feature-check-text{
margin-top: 70px;
}

@media only screen and (max-width: 768px) {
    .feature-apply-text, .feature-check-text {
        padding: 10px;
    }

    .feature-container {
        margin-top: 30px;
    }
}