.paperForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-left: 1px solid grey;

}
@media only screen and (max-width: 768px) {
    .paperForm {
        width: 95%;
    }
}

.paperText {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.paperForm form {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .paperText {
        margin-top: 10px;
    }

    .paperForm form {
        width: 90%;
    }

}

.submitBtn {
    margin-top: 24px;
    margin-bottom: 16px
}

.user-info {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: 50px;
}